
<html lang="tr" ng-app>
  <head>
    <meta charset="UTF-8" />
    <title>Döküman</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="reSearch.js"></script>
    <link href="reS.css" rel="stylesheet">
  </head>
  <body>
    <center><h1>Yapılacaklar Listesi</h1></center>
    <div ng-controller="toDoCtrl">
      <div class="content">
        <div class="header">
          <form action="">
            <button type="submit" ng-click="addTodo()">Tıkla
              <span class="entypo-list-add"></span>
            </button>
          <input type="text" ng-model="todoFld" placeholder="Listeye buradan ekle!"/>
          </form>
          
          
        </div>
        
        
        <div class="todoItem" ng-repeat="todo in todos">
          <span class="{{todo.done}}" contenteditable="true">{{todo.text}}</span>
          <button ng-click="todos.splice($index, 1)">
            <span class="entypo-cancel"></span>
          </button>
          <button ng-click="doneTodo($index)">
            <span class="entypo-check"></span>
          </button>
        </div>
      </div>
      
    </div>
  </body>
</html>