<!DOCTYPE html>
<html ng-app="myShop">
<head>
<meta charset="utf-8">
	<title></title>
	<script src="http://code.angularjs.org/1.3.2/angular.js"></script>
	<script src="shop.js"></script>
</head>
<body ng-controller="appCtrl">
<h2>Ürünlerimiz</h2>
<input type="text" ng-model="searchItem">
<ul>
	<li ng-repeat="item in items | filter:searchItem">{{ item.name }}-{{ item.price }} Tl-<button ng-click="addItem(item)">Ekle</button></li>

</ul>
<h2>Benim Sepetim</h2>
<ul>
	<li ng-repeat="myItem in myItems"> {{ myItem.name }}- {{ myItem.count }} adeti {{ myItem.price }} = <b>{{ myItem.count*myItem.price }} TL </b> </li>
</ul>
<li><b>Toplam: {{ totalPrice }} </b></li>
</body>
</html>